body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p u{
  text-decoration: underline;
  text-decoration-color: red;
}

.d-none{
  display: none;
}

.tool_tip{
  position: absolute;
  width: 500px;
  z-index: 10000;
}

.tool_tip ul{
  list-style: none;
  background: #eee;
  border: 1px solid #008575;
  width: 30%;
  margin: 0px;
  padding: 0px;
}

.tool_tip ul.suggestions li{
  padding-left: 5px;
}

.tool_tip ul li{
  cursor: pointer;
}

.tool_tip ul li:hover{
  background: #ddd;
}

.tool_tip ul i{
  margin-right: 10px;
}